.header nav li {
  margin-left: 6px;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 4px solid #434343;
  border-bottom: 4px solid #434343;
  background: url(../images/nav-bg.gif) #353535;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.comments {
  margin-top: 100px;
}

.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #4183C4;
}

a:hover {
  color: #61a3e4;
}

body {
  background: #2A2A2A;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.post-content {
  color: #aaa;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,freesans,sans-serif;
  font-weight: 300;
  line-height: 1.3em;
}
